@model ProgrammersBlog.MVC.Models.RightSideBarViewModel

    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Axtar</h5>
            <div class="card-body">
                <form asp-controller="article" asp-action="search" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="keyword" placeholder="Axtarmaq üçün daxil edin...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="submit">Axtar!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Kateqoriyalar</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a asp-controller="home" asp-action="index">Hamısı</a>
                            </li>
                            @foreach (var category in Model.Categories)
                            {
                                <li class="list-group-item">
                                    <a asp-controller="home" asp-action="index" asp-route-categoryId="@category.Id">@category.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Ən Çox Oxunan Məqalələr</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-group">
                            @for (int i = 0; i < Model.Articles.Count; i++)
                            {
                                if (i % 2 == 0)
                                {
                                    <li class="list-group-item list-group-item-primary">
                                        <a asp-controller="article" asp-action="detail" asp-route-articleId="@Model.Articles[i].Id">@Model.Articles[i].Title</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="list-group-item list-group-item-info">
                                        <a asp-controller="article" asp-action="detail" asp-route-articleId="@Model.Articles[i].Id">@Model.Articles[i].Title</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>